.cache/clangd/index/lua.hpp.14E3B932E979237D.idx
.cache/clangd/index/lunar.h.AE37FE8665EC1AB5.idx
.cache/clangd/index/main.cpp.782D60D4DDB388F3.idx
.cache/clangd/index/main.cpp.EE7BBFB017011478.idx
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/init.lua
build/jpeg62.dll
build/liblzma.dll
build/libpng16.dll
build/libpng16d.dll
build/lua_paths.h
build/lua.dll
build/pcre2-16.dll
build/pcre2-16d.dll
build/tic_tac_toe_ai.exe
build/tic_tac_toe_ai.exe.manifest
build/tic_tac_toe_ai.ilk
build/tic_tac_toe_ai.pdb
build/tiff.dll
build/tiffd.dll
build/wxbase32u_vc_custom.dll
build/wxbase32ud_vc_custom.dll
build/wxmsw32u_core_vc_custom.dll
build/wxmsw32ud_core_vc_custom.dll
build/zlib1.dll
build/zlibd1.dll
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-5457d8c4b85bac8ba2f8.json
build/.cmake/api/v1/reply/cmakeFiles-v1-9841a4e03542179ac4cf.json
build/.cmake/api/v1/reply/codemodel-v2-4d4d5bb549aaeba165a6.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-lua-Debug-d2fa581dd15bc71e2bf3.json
build/.cmake/api/v1/reply/index-2023-09-21T22-41-25-0149.json
build/.cmake/api/v1/reply/target-lua_wxDC-Debug-93ee8428ea9c22daabc6.json
build/.cmake/api/v1/reply/target-tic_tac_toe_ai-Debug-95b41267764a9989bf58.json
build/.cmake/api/v1/reply/toolchains-v1-b8a3c950d8041439712a.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.26.0-msvc3/CMakeCCompiler.cmake
build/CMakeFiles/3.26.0-msvc3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.26.0-msvc3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.26.0-msvc3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.26.0-msvc3/CMakeRCCompiler.cmake
build/CMakeFiles/3.26.0-msvc3/CMakeSystem.cmake
build/CMakeFiles/3.26.0-msvc3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.26.0-msvc3/CompilerIdC/CMakeCCompilerId.exe
build/CMakeFiles/3.26.0-msvc3/CompilerIdC/CMakeCCompilerId.obj
build/CMakeFiles/3.26.0-msvc3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.26.0-msvc3/CompilerIdCXX/CMakeCXXCompilerId.exe
build/CMakeFiles/3.26.0-msvc3/CompilerIdCXX/CMakeCXXCompilerId.obj
build/CMakeFiles/ShowIncludes/foo.h
build/CMakeFiles/ShowIncludes/main.c
build/CMakeFiles/ShowIncludes/main.obj
build/CMakeFiles/tic_tac_toe_ai.dir/embed.manifest
build/CMakeFiles/tic_tac_toe_ai.dir/intermediate.manifest
build/CMakeFiles/tic_tac_toe_ai.dir/manifest.rc
build/CMakeFiles/tic_tac_toe_ai.dir/manifest.res
build/CMakeFiles/tic_tac_toe_ai.dir/vc140.pdb
build/CMakeFiles/tic_tac_toe_ai.dir/src/main.cpp.obj
build/lua/cmake_install.cmake
build/lua/lua_wxDC.lib
build/lua/CMakeFiles/lua_wxDC.dir/lua_wxDC.pdb
build/lua/CMakeFiles/lua_wxDC.dir/wxDC.cpp.obj
